@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
html{
    scroll-behavior: smooth;
}
header{
    width:100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: rgb(34,40,49);

}

#chk1{
    display: none;
}

i{
    color: rgb(241, 241, 241);
    cursor: pointer;
}

header .logo{
    flex: 1;
    color:rgb(248, 248, 248);
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}

header ul {
    flex:0.8;
    display: flex;
    justify-content:space-evenly
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color:rgb(246, 246, 246);
    font-weight: 600;
    
    text-transform: uppercase;
    padding: 10px 15px;
    
}

header ul li a:hover{

    background-color: rgb(241, 241, 241);
    color: rgb(33, 33, 33);
    box-shadow: 0 0 15px violet;
    border-radius:25px;

}

header .menu{
    font-size: 2.5em;
    display: none;
}

@media(max-width:1000px){
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(76, 84, 93, 0.625);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}

/* first_section */
.info{
    background-color: rgb(34,40,49);
}
#name{
    padding-top: 150px;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-size: 55px;
    font-weight: bold;
}


.pashe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.personalinfo  {
    font-family: 'Poppins';
    font-size: 26px;
    text-align: left;
    padding-top: 11px;
    padding-left: 46px;
    padding-right: 50px;
    flex: 1;
    color: aliceblue;
    
}
.personalinfo h1{
    font-family: 'Montserrat';
}

#shortintro{
    padding-top: 25px;
    font-size: larger;
    font-weight: 800;
    opacity: 0.5;
    transition: 0.3s;
}
#shortintro:hover{
    opacity: 1;
}
.personalinfo a{
    text-decoration: none;
    color: rgba(221, 214, 222, 0.975);
}

.animation{
    padding-left: 90px;
    margin-top: 120px;
    align-items: right;
    justify-content:right;
    flex: 1;
}

.aboutme{
    padding: 120px;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
}

.aboutmepashe{

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

}

.aboutmepashe{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.meinfo{
    font-family: 'Montserrat';
    font-size: 25px;
    text-align: left;
    padding-left: 55px;
    padding-right: 50px;
    flex: 1;
    color: aliceblue;
}
.meinfo h2{
    font-family: 'Montserrat';
    padding-left: 32px;
    padding-bottom: 20px;
  
}
#abC{
    font-family: 'Roboto';
    font-size: 25px;
    padding-left: 32px;
    width: 650px;
    opacity: 0.5;
    transition: 0.3s;
}
#abC:hover{
    opacity: 1;
}
.mypic img{
    align-items: center;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 80px;
    flex: 1;
}

.meinfo a{
    text-decoration: none;
}

.btn{
    margin-left: 16px;
    font-size: large;
    font-weight: bold;
    padding: 5px 15px;
    color: aliceblue;
    cursor: pointer;
    background-color:  rgb(34,40,49);
    border-radius: 25px;
}
.btn:hover{
    background-color: rgb(241, 241, 241);
    color: rgb(33, 33, 33);
    box-shadow: 0 0 15px violet;
    border-radius:25px;
}
.works{
    font-family: 'Montserrat';
    font-size: 25px;
    text-align: left;
    padding-top: 86px;
    padding-left: 32px;
    flex: 1;
    color: aliceblue;
    padding-left: 70px;
    padding-bottom: 20px;
    /* background-color: rgb(34,40,49); */
    background-image: url('images/back.png');
}

.intro p{
    height: 35px;
    width: 550px;
    opacity: 0.5;
    transition: 0.3s;
}
.intro p:hover{
    opacity: 1;
}

.imgelement{
    padding-top: 50px;
    display: inline-block;
    margin-right: 25px;
}

#skill{
    background-color: rgb(34,40,49);
}

#skill h2{
    padding-top: 65px;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
}

.tbl{
    padding-top: 65px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 65px;
    text-align: center;
    border-spacing: px;
    background-color: rgb(34,40,49);

}
th{

    padding: 20px;
    background-color: rgba(46, 53, 63, 0.925);
    color: rgb(3, 173, 182);
    font: "Montserrat";

}
td{
    padding: 25px 30px;
    
}
tr{
    background-color: #ffffff;
    box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.1);
    margin-bottom: px;
}

.tbl tr:nth-child(even){
    background-color: rgba(46, 53, 63, 0.925);
    color: #ffffff;
}
.tbl tr:nth-child(odd){
    background-color: rgba(85, 96, 111, 0.925);
    color: #ffffff;
}

.skillsets{
    margin: auto;
    /* width: 1100px; */
    /* padding: 10px 0; */
    background-color: rgb(34,40,49);
}

.skillsets h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color:#ffffff;
}
.content{
    display: flex;
    align-items: center;    
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    /* margin: 50px; */
}

.left{
    width: 50%;
}
.left h1{
    font-family: 'Montserrat';
    text-align: left;
    font-size: 30px;
}

.left p{
    font-family: 'Roboto';
    font-size: 18px;
    margin: 25px 0;
    color: aliceblue;
    opacity: 0.5;
    transition: 0.3s;
}
.left p:hover{
    opacity: 1;
}

.right{
    flex: 1;
    margin-left: 30px;
}

.right .line{
    margin-bottom: 15px;
}
.right .inform{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .inform span{
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}

.right .bars{
    background-color: rgb(0, 137, 144);
    height: 10px;
    width: 100%;
    position: relative;
    border-radius: 45px;
    box-shadow: 0 10px 30px rgb(0, 0, 0);
}

.right .bars::before{
    content: '';
    position: absolute;
    height: 100%;
    background-color: rgb(17, 20, 26);
    border-radius: 45px;
}

.right .html::before{
    width: 75%;
}
.right .css::before{
    width: 75%;
}
.right .python::before{
    width: 85%;
}
.right .robots::before{
    width: 60%;
}
.right .canva::before{
    width: 80%;
}

.hobbies{
    background-color: rgb(34,40,49);
    padding: 1px;
}

.movies{
    display: flex;
    margin-bottom: 50px;
}
.movies .left{
    margin-top: 50px;
    margin-left: 50px;
}

.movies .left h1{
    text-align: left;
    font-size: 30px;
    color: #ffffff;
}
.movies .left p{
    font-size: 18px;
    margin: 25px 0;
    color: #ffffff;
}
.movies .right{
    margin-top: 60px;
    margin-left: 50px;
}
.right li{
    margin-top: 10px;
    padding-left: 10px;
    transition: all 0.3s;
    flex: 1;
    color: #ffffff;
    list-style: none;
    opacity: 0.6;
}
.right li:hover{
    font-size: 30px;
    opacity: 1;
}


.icons h1{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color:#ffffff;
    background-color: rgb(34,40,49);
}
.choto{
    background-color: rgb(34,40,49);
    padding-top: 70px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: 0.5s;
}

/* display: flex;
justify-content: center;
align-items:center;
padding: 39px 50px ; */
.choto a{
    
    background-color: rgba(56, 66, 82, 0.956);
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 8px 10px rgb(0, 0, 0);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;

}

.choto a .fa-brands{
    font-size: 30px;
    line-height: 80px;
}
.choto a .fa-regular{
    font-size: 30px;
    line-height: 80px;
    /* position: relative;
    z-index: 10; */
}
.choto a :hover{
    font-size: 45px;
}
.piazza a{
    background-color: rgba(56, 66, 82, 0.956);
    display: flex;
    justify-content: center;
    align-items:center;
    transition: 0.5s;
}
.piazza img{
    border-radius: 45%;
}
.piazza img:hover{
    height: 45px;
}



footer h5{
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: rgb(34,40,49);
}
footer p{
    color: #ffffff;
    padding: 30px;
    text-align: center;
    background-color: rgb(34,40,49);
}


.js p{
    color: #ffffff;
    padding-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgb(34,40,49);
}


#location{
    padding: 20px;
    text-align: center;
    background-color: rgb(34,40,49);
}